/**
*   TABLE OF CONTENTS
*   Font
*   fieldset
*   button
*   tables
*   Header
*   footer
*   book
*   connection
*editbook
*errorpage
*   gallery SUBMIT BUTTON on the magnifying-glass
*   home
*   main
*messaging
*   registration
*userinfo
*   userprofil
*/

/*///////FONT///////*/
h1 {
    font-style: "Playfair Display";
    font-size : 36px;
    font-weight: 400;
    color: #000000;
}

h2 {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 400;
    color:#292929;
    padding-top: 20px;
}

h3 {
    font-family: "Inter", sans-serif;
    font-size: 8px;
    font-weight: 600;
    color:#000000;
}

p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:#000000;
}

.standard-link {
    font-family: "Inter", sans-serif;
    font-size: 14px ;
    font-weight: 400;
    color: #A6A6A6;
    margin-top: 5px;
}

/*///////FIELDSET///////*/
.blue-fieldset {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 435px;
    height: 50px;
    border-radius: 6px;
    padding-left:10px;
    border: 1px solid #F0F0F0;
    background-color: #EDF2F6;
}

.white-fieldset {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 435px;
    height: 50px;
    border-radius: 6px;
    padding-left:10px;
    border: 1px solid #F0F0F0;
    background-color: #FFFFFF;
}

/*///////BUTTON///////*/
.green-button {
/*    width : 322px;
    height: 63px;*/
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid #F5F3EF;
    border-radius: 10px;
    background-color: #00AC66;
}

.grey-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width : 215px;
    height: 63px;
    border: 1px solid #00AC66;
    border-radius: 10px;
    background-color: #F5F3EF;
}

.grey-button-text {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #00AC66;
    text-decoration: none;
}

.search {
    align-items: center;
    background-color: #ffffff;
    width:322px;
    height: 50px;
    border-radius: 6px;
    border: 0px;
    margin-bottom: 20px;
}

.link-button {
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-size: 16px;
    width: 322px;
    height: 63px;
    padding: 22px 38px 22px 38px;
    border-radius: 10px;
    border: 0px;
    margin-top: 20px;
    background-color: #01AC66;
    text-decoration: none;
}

.div-link-button {
    margin-top: 70px;
    margin-bottom: 70px;
}

/*///////TABLE///////*/
.book-list{
    display: flex;
    flex-direction: column;
    width : 771px;
    height: 579px;
    margin-top: 100px;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.book-list-title {
    display: flex;
    flex-direction: row;
    align-items:end;
    padding: 0px 70px 0px 70px;
    height: 59px;
}

.lines {
    display: flex;
    flex-direction: column;
}

.line {
    display: flex;
    align-items: center;
    border-top: 1px solid #F5F3EF;
    height: 130px;
    padding: 0px 70px 0px 70px;
}

.line img {
    width : 78px;
    height : 78px;
}

.oddline {
    background-color: #F5F3EF;
}



/**
* header
*/
header {
    display: flex;
    flex-direction: row;
    height: 80px;
    background-color: #F5f5f5;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 155px;
    height: 51px;
    margin-top: 15px;
    margin-left: 150px;
}

.TT-logo-greenbackground{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51px;
    height: 51px;
    border-radius: 8.5px;
    background-color: #00AC66;
}

.main-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between ;
    width: 80%;
    margin-left: 150px;
}

nav a {
    size: 14px;
    color: #292929;
    text-decoration: none;
}

svg {
    padding-right: 5px;
}
.nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 40px;
}

.main-nav-1{
    display: flex;
    justify-content: flex-start;
}

.main-nav-2{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 150px;
}

.icone-messaging{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.icone-message-count{
    display: flex;
    justify-content: center;
    background-color: black;
    width: 10.5px;
    height: 15px;
    border-radius: 6.75px;
    margin-left: 5px;
    font-family: "Inter", sans-serif;
    font-size: 10px;
    font-weight: 700;
    color:#F5F3EF;
}

/**
* book
*/
.book {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.book-go-back {
    margin-left: 150px;
    color: #A6A6A6;
    margin-bottom: 20px;
}

.book-go-back a {
    color: #A6A6A6;
    text-decoration: none;  
}

.book-presentation {
    display: flex;
    flex-direction: row;
    background-color: #faf9f7;
}

.book-picture {
    width:720px;
    height: 863px;
}

.book-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.book-text {
    width:720px;
    padding-left: 70px;
}

.book-title-author p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color : #a6a6a6;
}

.book-description {
    width: 485px;
}

.book-description p {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:#000000;
}

.book-owner {
    display: flex;
    align-items: center;
    width: fit-content;
    padding : 6px 17px 6px 6px;
    background-color: white;
    border-radius: 114px;
}

.book-owner p {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:#000000;
}

.book-owner img {
    margin: 5px;
    width : 48px;
    height: 48px;
    border-radius: 200px;
}

/**
* editbook
*/

.editbook{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    margin-bottom: 100px;
    width: 1141px;
    height: 841px;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.editbook p {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:#A6A6A6;
}

.editbook-picture {
    display: flex;
    flex-direction: column;
    width:488px;
}

.editbook-picture img {
    width: 488px;
    height: 488px;
}

.editbook-picture a {
    
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color:#292929;
    text-align: right;
    margin-top: 20px;
}

.editbook-form {
    display: flex;
    flex-direction: column;
}

.editbook-form .green-button {
    width: 322px;
    height: 63px;
    margin-top: 50px;
}

/**
* Gallery
*/

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 900px;
    height: 1770px;
}

.gallery-title {
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
    align-items: center;
}

.book-search {
    background-color:white;
    height:50px;
}

.book-search svg {
    margin-left: 10px;
}

.book-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width:900px;
}

.book-cards a {
    text-decoration: none;    
}

.card-content{
    display: flex;
    flex-direction: column;
    width : 200px;
    height : 324px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
}

.card-content img{
    width: 200px;
    height: 200px;
}

.card-txt {
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 124px;
    padding-left: 10px;
}

.card-title {
    color:#000000;
    size: 16px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 0px;
}

.card-author {
    color:#A6A6A6;
    size: 16px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 0px;
}

.card-vendor {
    color:#A6A6A6;
    size: 10px;
    font-style: italic;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 4px;
}

/**
* home
*/
.home {
    display: flex;
    flex-direction: column;
}

.welcome {
    display: flex;
    flex-direction: row;
    padding-left: 150px;
    justify-content: center;
    background-color: #f4f3ef;
}

.welcome-txt {
    width: 329px;
    padding-top: 110px;
}

.welcome img {
    width: 404px;
    padding-left: 100px;
}

.home-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #faf9f7;
}

.instructions{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f3ef;
}

.instructions-title {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 50px;
}

.instructions-subtitle {
    display: flex;
    text-align: center;
    width:397px;
}

.steps {
    display: flex;
    flex-direction: row;
    width:950px;
    justify-content: space-between;
}

.step-card {
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 0px 25px 0px 25px;
    width: 165px;
    height: 139px;
    background-color: #FFFFFF;
}

.values {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f3ef;
}

.values-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 392px;
}

.div-signature {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 462px;
    padding-left: 70px;
}

.signature p {
    color: #A6A6A6;
}

.signature-logo {
    display: flex;
    justify-content: flex-end;
}

/**
* main
*/

main {
    background-color: #faf9f7;
    display: flex;
    justify-content: center;
}

/**
* messaging
*/

.messaging {
    display: flex;
    flex-direction: row;
}

.messaging h1 {
    margin-left: 50px;
}

.conversations {
    width: 308px;
    height: 893px;
    margin: 50px;
    background-color: #FAF9F7;
}

.conversations-list{
    display: flex;
    flex-direction: column;
}

.conversations-card a {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 84px;
    text-decoration: none;
}

.conversations-card:hover {
    background-color: #FFFFFF;
}

.conversations-avatar {
    display: flex;
    align-items: center;
    margin-left: 50px;
    width: 50px;
}

.conversations-avatar img {
    width : 48px;
    height: 48px;
    border-radius: 200px;
}

.conversations-card-content{
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 50px;
    margin-left: 5px;
}

.conversations-card-pseudo-date{
    display: flex;
    flex-direction: row;
}

.conversations-card-pseudo-date p {
    font-size: 14px;
    font-weight: 400;
    color:#292929;
}

.conversations-card-text{
    width : 172px;
    height: 18px;
}

.conversations-card-text p {
    font-size: 12px;
    font-weight: 400;
    color:#A6A6A6;
    overflow: hidden;
}

.overflow-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.current-conversation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1170px;
    height: 893px;
    padding: 50px 50px 50px 50px;
    background-color: #FAF9F7;
}

.current-conversation-avatar-pseudo {
    display: flex;
    flex-direction: row;
}

.current-conversation-avatar img {
    width: 48px;
    height: 48px;
    border-radius: 30px;
}

.current-conversation-pseudo {

}

.messages{
    display: flex;
    flex-direction: column;
}

.message{
    display: flex;
    flex-direction: column;
}
.message-reveiver{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.message-avatar-date{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.message-avatar-date img {
    width: 24px;
    height: 24px;
    border-radius: 30px;
}

.message-sender{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
}

.message-date{
    display: flex;
    flex-direction: row;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color:#A6A6A6;

}

.message .blue-fieldset {
    width: 500px;
    min-height: 37px;
    height: 100%;
    border-radius: 3px;
    padding-left:10px;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color:#292929;
}

.message .white-fieldset {
    width: 500px;
    min-height: 37px;
    height: 100%;
    border-radius: 3px;
    padding-left:10px;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color:#292929;
}

.new-message{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*justify-content: flex-start;
    align-items: center;*/
    margin : 100px 0px 100px 0px;
    background-color: red;
}

.new-message .white-fieldset{
    width:628px;
    height: 49px;
/*    border: 1px solid #F0F0F0;*/
border: 5px solid blue;
}

.new-message .green-button{
    width:132px;
    height: 49px;
}


/**
* registration / connection
*/
.registration {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.registration-forms {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 150px;
}

.registration-form {
    display: flex;
    flex-direction: column;
}

.registration-form a {
    text-decoration: none;
}

.registration-form label {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color:#a6a6a6;
}

.registration-picture {
    width: 50%;
}

.registration-picture img {
    width: 720px;
    height: 886px
}

/**
* userinfo
*/

.userinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userinfo h1 {
    margin-top: 90px;
    margin-bottom: 50px;
}

.userinfo h2 {
    font-size: 16px;
}

.user_personnal_info {
    display: flex;
    flex-direction: row;
    width: 1141px;
}

.userinfo .visitcard {
    width: 547px;
    height: 508px;
    margin-top: 0px;
}

.modif-card {
    display: flex;
    justify-content: center;
    width: 555px;
    height: 508px;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.modif {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.modif p {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight:400;
    color:#A6A6A6;
}

.modif .blue-fieldset {
    width: 322px;
    margin-bottom:10px;
}

.modif .grey-button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.userinfo .book-list{
    width : 1141px;
    margin-top: 0px;
    margin-bottom: 100px;
}

.userinfo .list-title {
    width : 16.6%;
}

.userinfo .book-image {
    width : 16.6%;
}

.userinfo .book-title {
    width : 16.6%;
}

.userinfo .book-author{
    width : 16.6%;
}

.userinfo .book-description{
    width : 16.6%;
}

.userinfo .book-status{
    width : 16.6%;
}

.userinfo .book-action{
    width : 16.6%;
}

.status {
    width: 71px;
    height:19px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 3.7px 13.3px 3.7px 13.3px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 9px ;
    color: #FFFFFF;
}

.status-on {
    background-color: #6DC5A1;
}

.status-off {
    background-color: #C56D6D;
}

/**
* userprofil
*/

.userprofil {
    display: flex;
    flex-direction: row;
}

.visitcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 341px;
    height: 579px;
    margin: 100px 50px 120px 0px;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.visitcard img {
    width : 135px;
    height: 135px;
    border-radius: 200px;
    margin-top: 50px;
}

.pseudo {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    margin-top: 100px;
    margin-bottom: 0px;
}

.member-until {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color:#A6A6A6;
    margin-bottom: 25px;
}

.bibliotheque {
    font-family: "Inter", sans-serif;
    font-size: 8px;
    font-weight:600;
    margin-bottom: 0px;
    color:#292929;
}

.user-book-number {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight:400;
    color:#292929;

}

.visitcard .grey-button {
    margin-top: 40px;
}

.userprofil .list-title {
    width : 25%;
}

.userprofil .book-image {
    width : 25%;
}

.userprofil .book-title {
    width : 25%;
}

.userprofil .book-author{
    width : 25%;
}

.userprofil .book-description{
    width : 25%;
}



/**
* footer
*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 61px;
    padding-right: 46px;
    background-color: #ffffff;
}

footer a {
    size: 12px;
    color: #292929;
    text-decoration: none;
    margin-right: 30px;
}

.fa-copyright{
    size: 12px;
    color: #292929; 

}